@font-face {
	font-family: Adieu;
	src: url(./fonts/Adieu/GTFAdieuTRIAL-Light.otf);
}

:root {
	--color-gray: hsl(180, 10%, 85%);
	--color-gray-light: hsl(180, 10%, 89%);
}

* {
	font-family: Adieu, sans-serif;
	letter-spacing: 1px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: grid;
	grid-template: 15% 1fr / 1fr;
}

header {
	background-color: var(--color-gray);
	display: grid;
	place-items: center;
}

h1 {
	font-size: clamp(2em, 100%, 4em);
	text-transform: uppercase;
}

main {
	display: grid;
	place-items: center;
	grid-auto-flow: column;
}

.input-container {
	align-self: start;
	margin-top: 3em;
	display: grid;
	place-items: center;
	grid-auto-flow: column;
	gap: 1em;
	font-size: 150%;
}

input {
	font-size: inherit;
	width: 8ch;
	padding: 0.5em;
	border: 0;
	border-bottom: 1px solid;
}

input:focus {
	outline: none;
}

.grid-container {
	display: grid;
	justify-items: center;
	gap: 2em;
}

button {
	padding: 1em 2em;
	font-size: 1.5em;
	border-radius: 10px;
	border: 0;
	background-color: hsl(0, 59%, 41%);
	color: white;
}

button:hover {
	background-color: hsl(0, 49%, 51%);
	cursor: pointer;
	transition: 0.2s;
}

.grid {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 0.5em;
}

.tile {
	--size: 10em;
	height: var(--size);
	width: var(--size);
	background-color: var(--color-gray);
	border-radius: 2px;
	list-style: none;
	display: grid;
	place-items: center;
}
.tile > p {
	font-size: 9em;
	padding: 0;
	margin: 0;
	top: -10px;
	position: relative;
}

.tile:hover:not(.init) {
	cursor: pointer;
	background-color: var(--color-gray-light);
}

@media screen and (max-width: 680px) {
	main {
		grid-template: 1fr 3fr / 1fr 1fr;
	}
	.tile {
		--size: 5em;
	}
	.tile > p {
		font-size: 4em;
		top: -5px;
	}
	.grid-container {
		grid-column: 1 / 3;
	}
	.input-container {
		grid-auto-flow: row;
		font-size: 1em;
	}
	input {
		overflow: auto;
	}
	.containerX {
		grid-column: 1 / 2;
	}
	.container0 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	button {
		padding: 1em 1.5em;
		font-size: 1em;
	}
}
